@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap");

body {
  background: #fbfbfb;
  font-family: "Hind Siliguri", sans-serif;
}
.MuiPagination-root {
  width: 73%;
}
.filter-wrappers{
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}
#root > div > div > div > div.MuiTablePagination-root > div > p:nth-child(4){
  display: none;
}